.alignment-block {
  margin-bottom: 1rem;
  padding: 1rem;
  /* background-color: #fafafa; */
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}
