@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

.alignment-block {
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.aligned-char {
  font-weight: 600;
  color: black;
}

.mismatch {
  color: red;
}

.end-gap {
  color: #aaa;
}
