@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

#fasta {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
}

.alignment-block {
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.aligned-char {
  font-weight: 600;
  color: black;
}

.aligned-char:hover {
  background-color: black;
  color: white;
}

.mismatch {
  color: red;
}

.mismatch:hover {
  background-color: red;
  color: white;
}

.end-gap {
  color: #aaa;
}

.end-gap:hover {
  background-color: #aaa;
  color: white;
}

.tie-match {
  color: dodgerblue;
}

.tie-match:hover {
  background-color: dodgerblue;
  color: white;
}

.legend {
  display: flex;
  align-items: center;
}

.square {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.25rem 0 0.75rem;
  border-radius: 50%;
}

.square.mismatch {
  background-color: red;
}

.square.tie-match {
  background-color: dodgerblue;
}

.square.end-gap {
  background-color: #aaa;
}

#results-container {
  display: flex;
}

.pane-alignment {
  flex: 1;
  margin-right: 20px;
  overflow: auto;
}

.pane-info {
  flex: 0 0 300px;
}

.info-container {
  position: fixed;
}
