@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

#fasta {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
}

.alignment-block {
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.aligned-char {
  font-weight: 600;
  color: black;
}

.mismatch {
  color: red;
}

.end-gap {
  color: #aaa;
}

.tie-match {
  color: dodgerblue;
}

.legend {
  display: flex;
  align-items: center;
}

.square {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.25rem 0 0.75rem;
  border-radius: 50%;
}

.square.mismatch {
  background-color: red;
}

.square.tie-match {
  background-color: dodgerblue;
}

.square.end-gap {
  background-color: #aaa;
}

/* TODO clash with BS class; should use tooltip.js `template` option */
.tooltip {
  opacity: 1 !important;
}
